docutils==0.13.1
entrypoints==0.2.3
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
gast==0.2.0
grpcio==1.10.0
gunicorn==19.7.1
Jinja2==2.10
jsonschema==2.6.0
matplotlib==2.1.2
nltk==3.2.5
numba==0.37.0
numpy==1.14.0
pandas==0.22.0
pandocfilters==1.4.2
python-dateutil==2.6.0
pytz==2017.3
pyzmq==16.0.4
requests==2.18.4
requests-file==1.4.2
SQLAlchemy==1.1.15
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.1.3