{% extends "base.html" %}

{% block content %}

<div class="card border-danger">
	<div class="card-header bg-danger text-white">
		<h4>Motivating Question</h4>
	</div>
	<div class="card-body">
		<p>Interesting description here</p>
	</div>
</div>

<br>

<div class="card border-success">
	<div class="card-header bg-success text-white">
		<h2>Union Army White Recruits Dataset</h2>
	</div>
	<div class="card-body">
		<p>Selected county: <span id="selected-county"></span></p>
		<div class="row">
			<div class="col-md-8">
				<div id="map-uadata">
				</div>
				<div id="map-colorScale">
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-light">
					<div class="card-header bg-warning text-white">
						<h5>Color Graph by County Averages</h5>
					</div>
					<div class="card-body">
						<div id="yearSlider-container">
							<input id="yearSlider" type="range" min="1850" max="1930" value="1850" step="10"/><br>
							<span id="yearSlider-text">1850</span>
						</div>

						<div id="infoColoring-container">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="infoColoring-radio" value="age" checked>
								<label class="form-check-label">Age</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="infoColoring-radio" value="property">
								<label class="form-check-label">
								Personal property value
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="card border-info">
	<div class="card-header bg-info text-white">
		<h4>Description of Dataset</h4>
	</div>
	<div class="card-body">
		<p>Interesting description here</p>
	</div>
</div>

<br>

<div class="card border-warning">
	<div class="card-header bg-warning text-white">
		<h4>Interesting Trends</h4>
	</div>
	<div class="card-body">
		<p>Interesting description here</p>
	</div>
</div>

<script src="{{ url_for('static', filename='union_script.js') }}"></script>

{% endblock %}