{% extends "base.html" %}

{% block content %}

<div class="card border-danger">
	<div class="card-header bg-danger text-white">
		<h4>Motivating Question</h4>
	</div>
	<div class="card-body">
		<p class="lead">How did white recruits of the Union Army vary demographically in terms of their socioeconomics, age, and hometowns?</p>
	</div>
</div>

<br>

<div class="card border-success">
	<div class="card-header bg-success text-white">
		<h2>Union Army White Recruits Dataset</h2>
	</div>
	<div class="card-body">
		<p>Selected county: <span id="selected-county"></span></p>
		<div class="row">
			<div class="col-md-8">
				<div id="map-uadata">
				</div>
				<div id="map-colorScale">
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-light">
					<div class="card-header bg-warning text-white">
						<h5>Color Graph by County Averages</h5>
					</div>
					<div class="card-body">
						<div id="infoColoring-container">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="infoColoring-radio" value="age" checked>
								<label class="form-check-label">Age</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="infoColoring-radio" value="property">
								<label class="form-check-label">
								Personal property value
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="card border-info">
	<div class="card-header bg-info text-white">
		<h4>Description of Dataset</h4>
	</div>
	<div class="card-body">
		<p>The dataset that we used for this visual comes from the <a href="http://uadata.org/">Union Army Dataset</a>. The dataset is a sample of 39,000 white Union army veterans and contains (where applicable) each soldier's complete Census record from 1850-1940. It also contains information on each recruits geographic residence, which we used to aggregate records by county and then display average recruit information in the above graph.</p>
		<p>A challenge with this dataset was its sparsity -- although there were dozens of variables to consider for each soldier across almost a century, most of the Census records were blank or contained mal-formed data. In fact, the only two variables that ended up being consistently reported across soldiers were the Age and Personal Property data points, which we've shown on the graph above.</p>
	</div>
</div>

<br>

<div class="card border-warning">
	<div class="card-header bg-warning text-white">
		<h4>Interesting Trends</h4>
	</div>
	<div class="card-body">
		<p>The Union Army Dataset was unfortunately not as comprehensive or as detailed as we would have hoped. The inconsistencies in the dataset made it hard to generalize or plot trends across eras or regions. However, upon running further analyses on the Census information, we were able to come up with a few interesting insights.</p>
		<ul>
			<li>There are pockets of local wealth along the East Coast and, somewhat surprisingly, in the western portions of the Union</li>
			<li>Some soldiers lived in Confederate counties but chose to serve in the Union army; these soldiers were older on average than those who enlisted from within the union</li>
			<li>In some places, the census data we used was clearly inaccurate (for example, an average age of 4 years old); this highlights the immense differences between 1860s data collection and today’s more scrupulous and technologically advanced methods</li>
			<li>The average age of recruits in the Western portion of the union is lower</li>
			<li>There is very little data available on the less populated portions of the country; the map somewhat accurately portrays the core centers of union power and the distance that their influence disseminates</li>
			<li>Areas with little data available often appear in clusters</li>
		</ul>
	</div>
</div>

<script src="{{ url_for('static', filename='union_script.js') }}"></script>

{% endblock %}